Checks: >
  -*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  performance-*,
  bugprone-*,
  portability-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-uppercase-literal-suffix,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-redundant-void-arg,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-avoid-nested-conditional-operator,
  -readability-function-cognitive-complexity

CheckOptions:
  # Identifier naming rules
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: camelBack
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase

  # Non-private members (fields) use camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack

  # Private members: _camelBack
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: "_"
  # Private members: _camelBack
  - key: readability-identifier-naming.ProtectedMemberCase
    value: camelBack
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: "_"

  # Statement braces rule
  - key: readability-braces-around-statements.ShortStatementLines
    value: "1"
